{% extends "layout.html.twig" %}

{% block body %}

<h1> Enquetes de la date : </h1>


<form action="nbEnquete" method="POST">
	<input type="date" name='date'>
	<input type="submit">
</form>

{% endblock %}

{% block footer %}
    {{ parent() }} Alan</p>
    </footer>
{% endblock %}
