{% extends "layout.html.twig" %}

{% block body %}

<h1> Nombre d'enquetes :{{nbEnquetes[0]['count(*)'] }} </h1>
<form action="nbEnquete" method="POST">
	<input type="date" name='date'>
	<input type="submit">
</form>

{% endblock %}
