{% extends "layout.html.twig" %}

{% block body %}

<h1> Nombre de Visiteur pour le départment:{{nomDepartement}} </h1>
<h1>{{nbVisiteurs[0]['count(*)']}}</h1>

{% endblock %}

{% block footer %}
    {{ parent() }} Alan</p>
    </footer>
{% endblock %}