{% extends "layout.html.twig" %}

{% block body %}

<h1> Visiteur par : </h1>
<form>
  <input id="ville" name="CBvalue" type="radio" value="ville">
  <label for="ville">Ville</label>

  <input id="departement" name="CBvalue" type="radio" value="departement">
  <label for="departement">Département</label>
</form>

<div id="form" >

  	<div class="ville" style="display:none;">
      <form action="nbVisiteurVille" method="POST">
      <label for="ville">Ville:</label>
      <input type="Text" name='ville'>
      <input type="submit">
      </form>

    </div>



    <div class="dep" style="display:none;">
      <form action="nbVisiteurDep" method="POST">
      <label for="departement">Departement:</label>
      <select name="departement">
      <option></option>
      {% for departement in departements %}
            <option>{{departement.nom}}</option>
      {% endfor %}

      </select>
      <input type="submit">
      </form>
    </div>


</div>

<script type="text/javascript" >
let CBville = document.querySelector('input[value=ville]')
let CBdepartement = document.querySelector('input[value=departement]')
let formVille = document.querySelector('div .ville')
let formDep = document.querySelector('div .dep')

CBdepartement.addEventListener('click', function(){
  formDep.style.display = "block";
  formVille.style.display = "none";
})

CBville.addEventListener('click', function(){
  formVille.style.display = "block";
  formDep.style.display = "none";
})

</script>

{% endblock %}

{% block footer %}
    {{ parent() }} Alan</p>
    </footer>
{% endblock %}
